$color_primary: #79C4F0;
$color_primary_dark: #79C4F0;
$color_primary_darker: #004F74;
$color_secondary: #47D7F2;
$color_success: #36E7DF;
$color_green: #6EF3BC;
$color_green_light: #B2FA92;
$color_yellow: #F9F871;
$bg_color: #ECFCFF;